body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.content {
    padding: 20px;
    margin-left: 20px;  /* Left margin */
    margin-right: 20px; /* Right margin */
    margin-top: 10px;   /* Top margin */
    margin-bottom: 10px; /* Bottom margin */
}

/* Set margins for the publications page */
/* .publications-content {
    margin-left: 20px;  
    margin-right: 20px; 
    margin-top: 10px;   
    margin-bottom: 10px; 
} */